*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f2f2f2;
}
.app{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
.app__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4%;
    color: #fb4443;
}
.app_stats{
    display: flex;
    justify-content: space-between;
}
.app__left{
    flex: .9;
}
.app__right {
    display: flex;
    flex-direction: column;
  }
  
  .app__graphTitle {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .app__right .MuiCardContent-root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .app__graph {
    flex-grow: 1;
  }
@media(max-width:990px){
    .app{
        flex-direction: column;
    }
}